body {
  margin-top: 25px;
  margin: 0;
  font-family: monospace;
  padding: 20px;
  background-image: url("./components/media/undraw_quick_chat_re_bit5.svg");
  background-repeat: no-repeat;
  background-position: right;
}

/*APP*/
.App {
  background: #fff;
  max-width: 500px;
  margin: 30px;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(194, 194, 194);
  padding: 30px;
  box-shadow: 1px 1px 5px rgb(197, 197, 197);
  border-radius: 5px;
}

/*HEADER*/
header.Header {
  margin-bottom: 25px;
}
.header_title {
  display: inline;
}
.header {
  justify-content: space-between;
  align-items: center;
}
.header_button {
  float: right;
}
.header_button:hover {
  border: 2px solid #00b0ff;
  color: #00b0ff;
  box-shadow: 2px 2px #00b0ff;
}
/*HEADER  END*/

/*BUTTON*/
.button {
  display: inline-block;
  background: transparent;
  color: rgb(171, 172, 171);
  border: 1px solid rgb(146, 146, 146);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

/*TASK*/
.task {
  background: #eee;
  margin-top: 10px;
  padding: 1px 5px;
}
svg.task_close {
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  cursor: pointer;
  color: rgb(255, 5, 130);
}
.reminder {
  border-left: 5px solid #00b0ff;
}
/*TASK END*/
